body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: "inter", "sans-serif";
}
.mainbox{
    max-width: 350px;
    height: 100%;
    background-color: hsl(0,0% ,12%);
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}img{
    height: 80px;
    border-radius: 40px;
}
.title{
    font-weight: 700;
    margin-bottom: 0px;
}
.location{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 10px;
}
.description{
    font-weight: 400px;
    font-size: 0.875rem;
}
.box{
    font-weight: 600;
    width: 270px;
    height: 40px;
    margin: 8px;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 0.875rem;
}
.box:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color:hsl(0, 0%, 8%);
}
.attribution{
    position: absolute;
    bottom: 0px;
}

/*modern reset stylesheet*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}